.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 10px;
}

main {
display: flex;
flex-direction: row;
background-color: rgb(52, 103, 52);
}

img {
  width: 100px;
  height: 100px;
}




